body {
  font-size: 32px;
}

body > h1 {
  text-align: center;
  font-size: 4em;
}

#horsemen {
  text-align: justify;
  font-size: 2rem;
  transition: filter 1s ease;
  padding: 2px 70px;
}

#horsemen:hover {
  filter: blur(5px);
}